version: "3.9"
services:
  app:
    image: courses-app
    container_name: Courses_app
    build:
      context: .
    ports:
      - 8092:8092
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/trainingManagementPlatform
    networks:
      - backend_network

networks:
  backend_network:
    external: true
    
#
# Commands:
#
# docker-compose up                -> used to create a docker container
# docker-compose down              -> used to destroy a docker container
#